#ifndef secrets_h
#define secrets_h

/* If not using MQTT or OTA updates then you can leave all of these blank */
const char* wifiSSID = "Your SSID";
const char* wifiPassword = "Your Password";

/* If not using MQTT then you can leave all of these as blank */
const char* mqttUsername = "";
const char* mqttPassword = "";
const char* mqttBroker = "";
int mqttPort = 1883;

#endif